halab.json
[{"id":"bf1f6f5.57e6d9","type":"tab","label":"Mundelein LPS","disabled":false,"info":""},{"id":"dad673db.d457d","type":"inject","z":"bf1f6f5.57e6d9","name":"Lightning not in area 58 Km","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"58","payloadType":"num","x":200,"y":200,"wires":[["651d5155.0f2c6"]]},{"id":"e9f6722d.2e078","type":"comment","z":"bf1f6f5.57e6d9","name":"Test Inputs","info":"","x":80,"y":140,"wires":[]},{"id":"4b6128f1.370028","type":"trigger-state","z":"bf1f6f5.57e6d9","name":"Lightning Distance","server":"51d376e1.c3fa58","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.blitzortung_lightning_distance","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"0","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"num","x":130,"y":280,"wires":[["651d5155.0f2c6"],[]]},{"id":"220dec69.108f04","type":"switch","z":"bf1f6f5.57e6d9","name":"Is Lightning <= 10","property":"msgMile","propertyType":"global","rules":[{"t":"lte","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":280,"wires":[["7fa0670b.81c91"],["b025968c.287f8"]]},{"id":"a5a70fad.c0ccc","type":"comment","z":"bf1f6f5.57e6d9","name":"Mundelein Lightning in Area Logic","info":"","x":180,"y":80,"wires":[]},{"id":"775422fc.f5da0c","type":"trigger","z":"bf1f6f5.57e6d9","name":"","op1":"0","op2":"","op1type":"num","op2type":"nul","duration":"30","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":190,"y":340,"wires":[["ee6728e3.3fa21"]]},{"id":"34bbea14.00f5ae","type":"function","z":"bf1f6f5.57e6d9","name":"Send no lightning","func":"msg.payload = \"no\";\nmsg.topic = \"lightning/strike\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":480,"wires":[["2761b84b.707278"]]},{"id":"ee6728e3.3fa21","type":"function","z":"bf1f6f5.57e6d9","name":"Send yes lightning","func":"global.set('skokieBadWeatherSwitch',true);\nmsg.payload = \"yes\";\nmsg.topic = \"lightning/strike\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":340,"wires":[["2761b84b.707278","bc51b04b.83cbf"]]},{"id":"2761b84b.707278","type":"mqtt out","z":"bf1f6f5.57e6d9","d":true,"name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ae04f78c.ce454","x":830,"y":340,"wires":[]},{"id":"fc88a9fd.79bb28","type":"inject","z":"bf1f6f5.57e6d9","name":"Lightning = 10","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":250,"y":140,"wires":[["651d5155.0f2c6"]]},{"id":"7fa0670b.81c91","type":"link out","z":"bf1f6f5.57e6d9","name":"","links":["561f2989.7357f8","8eeacf0.25fc93","6f65df3c.f3fd9"],"x":875,"y":240,"wires":[]},{"id":"f8a57955.6cd6a8","type":"inject","z":"bf1f6f5.57e6d9","name":"Startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":80,"wires":[["68cb149a.42713c"]]},{"id":"896f5209.ec29d8","type":"comment","z":"bf1f6f5.57e6d9","name":"Flow Information","info":"This flow has been programmed to:\n     1) Send a clear good email only after Bad weather has been sent. Avoids first time after start up. Sends MQTT message to active radio and Antenna. It's ok to send repeats with no bad weather in between.\n     2) Sends text & email for 11 - 34 Mile warning message only after a bad message has been sent.\n     3) Sends text & email for < 11 Mile and sends MQTT message to shut down radio and antena\n     \n     Thanks to Dave Hartley K5OZ for 99%  of setup","x":120,"y":20,"wires":[]},{"id":"651d5155.0f2c6","type":"function","z":"bf1f6f5.57e6d9","name":"convert to mile","func":"tempMsg = msg.payload * 0.621371;\nmsg.payload = Math.round(tempMsg * 100/100);\nglobal.set('msgMile', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":280,"wires":[["220ae5a0.2ef952"]]},{"id":"6f65df3c.f3fd9","type":"link in","z":"bf1f6f5.57e6d9","name":"Good/Bad Text","links":["671110f8.0de7","1917c6ef.1e1591","7fa0670b.81c91"],"x":55,"y":340,"wires":[["775422fc.f5da0c"]]},{"id":"68cb149a.42713c","type":"function","z":"bf1f6f5.57e6d9","name":"Set Bad Weather Switches false","func":"global.set('badWeatherSwitch',false);\nglobal.set('skokieBadWeatherSwitch',false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":80,"wires":[[]]},{"id":"bcc66b6d.cd16c8","type":"function","z":"bf1f6f5.57e6d9","name":"Format Bad  message set badWeatherSwitch true","func":"mileage = global.get('msgMile')\nmsg.payload = \"Warning a lightning strike was detected \" + mileage + \" miles away in Mundelein. Radio and Antenns will be shut down.\"\nglobal.set('badWeatherSwitch',true)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":420,"wires":[["348dbc68.ee829c","2ee9c795edd10298"]]},{"id":"9dd7d419.3477f","type":"comment","z":"bf1f6f5.57e6d9","name":"Dave Hartley K5OZ Original Author","info":"","x":360,"y":20,"wires":[]},{"id":"348dbc68.ee829c","type":"delay","z":"bf1f6f5.57e6d9","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":630,"y":420,"wires":[["8b033c0b.7e5a68"]]},{"id":"8b033c0b.7e5a68","type":"link out","z":"bf1f6f5.57e6d9","name":"","links":["692486ec.cc0128"],"x":815,"y":420,"wires":[]},{"id":"692486ec.cc0128","type":"link in","z":"bf1f6f5.57e6d9","name":"","links":["8b033c0b.7e5a68"],"x":55,"y":480,"wires":[["5c7b0727.8d80e8"]]},{"id":"5c7b0727.8d80e8","type":"function","z":"bf1f6f5.57e6d9","name":"Format good message & switch","func":"msg.payload = \"Mundelein reset by 30 minute timer\"\nglobal.set('badWeatherSwitch',false)\nglobal.set('skokieBadWeatherSwitch',false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":480,"wires":[["34bbea14.00f5ae","2ee9c795edd10298"]]},{"id":"5ed785b3.3ab784","type":"link in","z":"bf1f6f5.57e6d9","name":"","links":["bc51b04b.83cbf"],"x":55,"y":420,"wires":[["bcc66b6d.cd16c8"]]},{"id":"bc51b04b.83cbf","type":"link out","z":"bf1f6f5.57e6d9","name":"","links":["5ed785b3.3ab784"],"x":575,"y":360,"wires":[]},{"id":"b025968c.287f8","type":"debug","z":"bf1f6f5.57e6d9","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":300,"wires":[]},{"id":"220ae5a0.2ef952","type":"switch","z":"bf1f6f5.57e6d9","name":"","property":"skokieBadWeatherSwitch","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":280,"wires":[[],["220dec69.108f04"]]},{"id":"2ee9c795edd10298","type":"e-mail","z":"bf1f6f5.57e6d9","server":"","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1000,"y":460,"wires":[]},{"id":"51d376e1.c3fa58","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"ae04f78c.ce454","type":"mqtt-broker","name":"","broker":"10.0.0.77","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""}]