halab.json
[{"id":"f7985f82f209016a","type":"tab","label":"LPS","disabled":false,"info":"","env":[]},{"id":"221ef9a1c1f0243a","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"d373fab569df1b4d","type":"inject","z":"f7985f82f209016a","name":"Lightning not in area 58 Km","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"58","payloadType":"num","x":200,"y":200,"wires":[["0b625eb24fbf4162"]]},{"id":"1bcb7f2c0cf396d9","type":"comment","z":"f7985f82f209016a","name":"Test Inputs","info":"","x":80,"y":140,"wires":[]},{"id":"93b8c43f88b4a59c","type":"trigger-state","z":"f7985f82f209016a","name":"Lightning Distance","server":"221ef9a1c1f0243a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.blitzortung_lightning_distance","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"0","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"num","enableInput":true,"x":130,"y":280,"wires":[["0b625eb24fbf4162"],[]]},{"id":"eea491e2987bfcec","type":"switch","z":"f7985f82f209016a","name":"Is Lightning <= 10","property":"msgMile","propertyType":"global","rules":[{"t":"lte","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":280,"wires":[["f00ff2693f057b81"],[]]},{"id":"2da19fb3555d361f","type":"comment","z":"f7985f82f209016a","name":"Mundelein Lightning in Area Logic","info":"","x":180,"y":80,"wires":[]},{"id":"dbd8185804b0674b","type":"trigger","z":"f7985f82f209016a","name":"","op1":"0","op2":"","op1type":"num","op2type":"nul","duration":"30","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":190,"y":340,"wires":[["d7e40cfaa7a427c7"]]},{"id":"d7e40cfaa7a427c7","type":"function","z":"f7985f82f209016a","name":"Send yes lightning","func":"msg.topic = \"lightning/strike\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":340,"wires":[["4e388bf238fc2bac"]]},{"id":"98f2b2e788cd7c60","type":"inject","z":"f7985f82f209016a","name":"Lightning = 10","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":250,"y":140,"wires":[["0b625eb24fbf4162"]]},{"id":"f00ff2693f057b81","type":"link out","z":"f7985f82f209016a","name":"","links":["561f2989.7357f8","8eeacf0.25fc93","25a437ad810e3134"],"x":835,"y":280,"wires":[]},{"id":"c5f6971fd9f2e218","type":"comment","z":"f7985f82f209016a","name":"Flow Information","info":"This flow has been programmed to:\n     1) Send a clear good email only after Bad weather has been sent. Avoids first time after start up. Sends MQTT message to active radio and Antenna. It's ok to send repeats with no bad weather in between.\n     2) Sends text & email for 11 - 34 Mile warning message only after a bad message has been sent.\n     3) Sends text & email for < 11 Mile and sends MQTT message to shut down radio and antena\n     \n     Thanks to Dave Hartley K5OZ for 99%  of setup","x":120,"y":20,"wires":[]},{"id":"0b625eb24fbf4162","type":"function","z":"f7985f82f209016a","name":"convert to mile","func":"tempMsg = msg.payload * 0.621371;\nmsg.payload = Math.round(tempMsg * 100/100);\nglobal.set('msgMile', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":280,"wires":[["eea491e2987bfcec"]]},{"id":"25a437ad810e3134","type":"link in","z":"f7985f82f209016a","name":"Good/Bad Text","links":["671110f8.0de7","1917c6ef.1e1591","f00ff2693f057b81"],"x":55,"y":340,"wires":[["dbd8185804b0674b"]]},{"id":"457699b89aab1478","type":"function","z":"f7985f82f209016a","name":"Format Bad  message set badWeatherSwitch true","func":"mileage = global.get('msgMile')\nmsg.payload = \"Warning a lightning strike was detected \" + mileage + \" miles away in Mundelein. Radio and Antenns will be shut down.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":420,"wires":[["198443d702ebcc12","587de92d3c844c38"]]},{"id":"f61fae151fdfa2b2","type":"comment","z":"f7985f82f209016a","name":"Dave Hartley K5OZ Original Author","info":"","x":360,"y":20,"wires":[]},{"id":"198443d702ebcc12","type":"delay","z":"f7985f82f209016a","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":630,"y":420,"wires":[["0bbf00c8aa9a44ea"]]},{"id":"0bbf00c8aa9a44ea","type":"link out","z":"f7985f82f209016a","name":"","links":["5073d38e37c9304b"],"x":815,"y":420,"wires":[]},{"id":"5073d38e37c9304b","type":"link in","z":"f7985f82f209016a","name":"","links":["0bbf00c8aa9a44ea"],"x":55,"y":480,"wires":[["c7ca5860caacc52b"]]},{"id":"c7ca5860caacc52b","type":"function","z":"f7985f82f209016a","name":"Format good message & switch","func":"msg.payload = \"Mundelein reset by 30 minute timer\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":480,"wires":[["587de92d3c844c38"]]},{"id":"7e235ae0878c20fc","type":"link in","z":"f7985f82f209016a","name":"","links":["4e388bf238fc2bac"],"x":55,"y":420,"wires":[["457699b89aab1478"]]},{"id":"4e388bf238fc2bac","type":"link out","z":"f7985f82f209016a","name":"","links":["7e235ae0878c20fc"],"x":575,"y":360,"wires":[]},{"id":"587de92d3c844c38","type":"e-mail","z":"f7985f82f209016a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"1234561515@xxx.net","dname":"","x":820,"y":500,"wires":[]}]