USB relay.json
[
    {
        "id": "5e8e113ca6e05166",
        "type": "tab",
        "label": "USB Relay",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a0f2ea6fc2fc1ba",
        "type": "ui_switch",
        "z": "5e8e113ca6e05166",
        "name": "USB Relay 1",
        "label": "USB Relay 1",
        "tooltip": "",
        "group": "920a9a4b.2fede8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "outlet?1=",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-power-off",
        "oncolor": "lightgreen",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-power-off",
        "offcolor": "red",
        "animate": true,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "353d6c2ee541763e"
            ]
        ]
    },
    {
        "id": "1350a7164a08f3ee",
        "type": "ui_switch",
        "z": "5e8e113ca6e05166",
        "name": "USB Relay 2",
        "label": "USB Relay 2",
        "tooltip": "",
        "group": "920a9a4b.2fede8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "outlet?1=",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-power-off",
        "oncolor": "lightgreen",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-power-off",
        "offcolor": "red",
        "animate": true,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "96131bf2a4fd3192"
            ]
        ]
    },
    {
        "id": "409ba8183b712419",
        "type": "exec",
        "z": "5e8e113ca6e05166",
        "command": "usbrelay BITFT_1=1 ",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Relay 1 on",
        "x": 570,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "353d6c2ee541763e",
        "type": "switch",
        "z": "5e8e113ca6e05166",
        "name": "True or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "409ba8183b712419"
            ],
            [
                "a70fe36c04bd9c4a"
            ]
        ]
    },
    {
        "id": "a70fe36c04bd9c4a",
        "type": "exec",
        "z": "5e8e113ca6e05166",
        "command": "usbrelay BITFT_1=0 ",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Relay 1 off",
        "x": 590,
        "y": 220,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "96131bf2a4fd3192",
        "type": "switch",
        "z": "5e8e113ca6e05166",
        "name": "True or false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "4a5dc9fa15763c85"
            ],
            [
                "b28a1ba39f86aa68"
            ]
        ]
    },
    {
        "id": "4a5dc9fa15763c85",
        "type": "exec",
        "z": "5e8e113ca6e05166",
        "command": "usbrelay BITFT_2=1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Relay 2 on",
        "x": 570,
        "y": 320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b28a1ba39f86aa68",
        "type": "exec",
        "z": "5e8e113ca6e05166",
        "command": "usbrelay BITFT_2=0",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Relay 2 off",
        "x": 550,
        "y": 440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "920a9a4b.2fede8",
        "type": "ui_group",
        "name": "USB Relay Board",
        "tab": "4708a5f.368305c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4708a5f.368305c",
        "type": "ui_tab",
        "name": "2 relay control",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]